html, body, a
{
    margin: 0px; padding: 0px
    
}



body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

img {
    vertical-align: middle;
}
/* 
Above is fix for weird whitespace underneath nested image. Quote from stackoverflow:

"This problem is caused by the image behaving like a character of text (and so leaving a space below it where the hanging part of a 
'y' or 'g' would go), and is solved by using the vertical-align CSS property to indicate that no such space is needed. 
Almost any value of vertical-align will do; I'm fond of middle, personally."
*/

body{
    background-color: whitesmoke;
}
h1{
    font-size:2.0rem;
}
h2{
    font-size: 1.3rem;
}
.columns{
    display:flex;
}

.columns p{
    margin-top:0;
}

.leftColumn{
    width:85%;
    text-align: left;
    margin-left:20px;
}

.mobileMenu{
    display:none;
}

.purchase {
    font-size:0.8rem;
    color:#666;

}

.purchase li{
    list-style-type: square;
}

.purchase a{
    text-decoration: none;
    cursor:pointer;
    color:blue;
}

.purchase a:visited{
    text-decoration: none;
    color:purple;
}

.purchase a:hover, a:focus{
    color:dodgerblue;
}

.purchase a:active{
    color:red;
}

.purchase h3{
    color:black;
    margin-top: 32px;
    font-size:1rem;
}

.purchase li{
    text-align: left;
}

.content a{
    border-color:red;
    border-radius: 10px;
}
.Banner{

   height:2000px;
    background-color: whitesmoke;
}

.content{

    display:flex;
    flex-direction: column;
    text-align: center;
    
}
.content img{
       width:100%;
       height: auto;
}

.content a{
    margin-bottom: 0px;
}

.top{
    
    text-align: left;
        margin:20px;
}
.top a{
    font-size:25px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.navbar{


    display:flex;
    flex-direction: row;
    height:50px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    
    background-color: black;
    /*border: 2px solid #4CAF50; */
}

.navbar a{
    float: left;
    color: #f2f2f2c3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}

.navbar a:hover {
    background-color: rgb(69, 69, 69);
    /* Nice */
  }

.navbar a.active {

    color: white;
    }


.linkBox{


    border:yellow;
    color:white;
    width:200px;
}
.mobileNavbar{
    display:none;
}




@media screen and (max-width: 750px) {
    
    .columns{
        flex-direction: column;
    }

    .navbar{
        display:none;
    }


    .mobileNavbar{

        text-align: left;
        height: 60px;
        display:block;
        background-color:black;
        
    }

    .menuIcon{
        display:block;
        cursor:pointer;
    }


    .mobileMenu{
        margin: auto;
    }
    .open .mobileMenu{
        position:absolute;
        margin-top:0px;
        text-align: center;
        
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .mobileMenu a{
        
        top:0px;
        min-width: 100vw;
        display:block;
        z-index: 0;
        color: #f2f2f2c3;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px; 
        background-color: black;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
        
    }

    .button {
        display:flex;
    }
    .button p{
        margin-top: 20px;
    }

    

    .mobileNavbar p{
        display:inline;
        margin-left:10px;
        color:white;
    }

    
    .icon{
        display:inline;
        position:relative;
        margin-left:20px;
        margin-bottom:15px;
        margin-top:15px;
        

    }


    /* … */
  }
  .pftbanner{
    cursor:pointer;
}